# Build output
[Bb]in/
[Oo]bj/

# User-specific files
*.user
*.suo
.vs/

# macOS
.DS_Store

# Local settings
appsettings.Development.json

# Rider
.idea/

# NuGet
*.nupkg
packages/

# DB store
*.db
*.db-shm
*.db-wal
